@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

*{box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family:'Quicksand', sans-serif;
    background: linear-gradient(90deg, #8400ff 0%, #3984a1 100%);
}

.container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.clock {
    font-size: 32px;
    text-shadow: -1px 0px 15px rgba(0, 0, 0, 0.25);
    color: lightcoral;
}

.number {
    display: inline-block;
    width: 140px;
    font-size: 118px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-shadow: -1px 0px 15px rgba(0, 0, 0, 0.25);
    border: none;
    color: lightcoral;
    background-color: transparent;
}

.buttons button {
    margin: 0;
    padding: 40px;
    border: none;
    border-radius: 50%;
    }

#play {
    background-image: url('../img/outline_play_circle_black_24dp.png');
    background-position: center;
    background-repeat: no-repeat;
}

#stop {
    background-image: url('../img/outline_pause_black_24dp.png');
    background-position: center;
    background-repeat: no-repeat;
}

#play:active {
    background-color: lightskyblue;
}

#stop:active {
    background-color: rgb(211, 68, 68);
}
